<div>
    <sw-button-process
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            @process-finish="saveFinish"
            @click="check"
    >
        {{ $tc('NMI.apiTest.connection.test-api-connection') }}
    </sw-button-process>
</div>